h1.title--up.text--yellow Cadastre-se

- ab_test(:communication_style, 'direct', 'conversation') do |experiment_name|
  = render "new_#{experiment_name}"

  = render "devise/shared/links_#{experiment_name}"
