.cart {
  color: #fff;
}

@media (max-width: 768px) {
  .cart {
    .pull-left,
    .pull-right {
      text-align: center !important;
      float: none !important;
      margin: 0 auto;
    }

    .cart-quantity {
      margin: 0;
      float: left;
      display: inline-block;
      width: 100%;
      text-align: center;
    }
    td {
      .btn:first-of-type {
        margin-right: 10px;
      }
    }
  }
}
