.checkout {
  color: #fff;
}

#js-creditcard-form .wrapper {
  border-radius: 0 !important;
  border-color: $brown-medium !important;
  input {
    border-color: $brown-medium !important;
  }
}

.form-acceptance {
  margin-top: -15px;
}
