.footer {
  background-color: $brown-dark;
  padding: 40px 0;
  color: white;

  a { color: white; }

  ul {
    text-decoration: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

.footer__logo img {
  height: 25px;
  margin-right: 30px;
}
