.form {
  width: 100%;
  padding: 20px 40px 60px 40px;

  &.half-size {
    width: 50%;
    display: inline-block;
  }

  &.brown-dark {
    background-color: $brown-dark;

    .help-block {
      color: #fff;
    }

    label {
      color: $brown-light;
    }

    a {
      color: $yellow-medium;
    }
  }

  &.brown-medium {
    background-color: $brown-medium;
  }

  &.brown-light {
    background-color: $brown-light;
  }

  &.white {
    background-color: #fff;
  }

  label {
    margin-top: 10px;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-actions {
    margin: 20px 0;
  }
}

.has-error {
  input {
    border: 1px solid $error !important;
    background-color: lighten($error, 30%) !important;
  }
  .help-block {
    color: $error !important;
    margin-bottom: 0;
  }
}

.users,
.cart,
.checkout {
  padding: 80px 0 80px 0;
  background-color: $brown-medium;
}
