.header {
  height: 100px;
  width: 100%;
  background-color: $brown-tribo;
}

.header__logo {
  img {
    padding-top: 9px;

    @media screen and (max-width: 420px) {
      width: 205px;
      padding-top: 16px;
    }
  }
}

.navbar-default {
  background: transparent;
  border: 0;
  z-index: 1000;

  .navbar-nav > li > a {
    padding: 40px 10px;
    color: white;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  .navbar-toggle {
    border: 2px solid $brown-dark;
    background-color: transparent;
    margin-top: 28px;
    padding: 12px 10px;

    &:focus,
    &:hover {
      background-color: $brown-dark;
    }

    .icon-bar {
      background-color: $yellow-medium;
    }
  }

  .navbar-collapse {
    border-color: $brown-dark;
    box-shadow: none;

    &.in,
    &.collapsing {
      margin-top: 22px;
      background: $brown-tribo;

      .navbar-nav > li > a {
        padding: 30px 15px;

        &:hover {
          background-color: $brown-dark;
          text-decoration: none;
        }
      }
    }

    ul {
      margin: 0 -15px;
    }
  }
}
