
.header__centered {
  height: 100px;
    width: 100%;
    background-color: $brown-medium;
    text-align: center;
    padding-top: 40px;
  img {
    padding-top: 9px;
  }
}

.header__logo {
  img {
    padding-top: 9px;

    @media screen and (max-width: 420px) {
      width: 205px;
      padding-top: 16px;
    }
  }
}

.badge {
  position: absolute;
  background-color: $yellow-medium;
  color: $brown-dark;
}

.navbar-default {
  background: $brown-tribo;
  min-height: 100px;
  width: 100%;
  margin-bottom: 0px;
  border: 0;
  border-radius: 0px;
  z-index: 1000;

  .navbar-nav > li:last-child {
    &> a {
      padding: 36px 10px !important;
    }
  }

  .navbar-nav > li > a {
    padding: 40px 10px;
    color: white;

    &:hover {
      color: white;
      text-decoration: underline;
    }

    .fa-shopping-cart {
      font-size: 24px;

      &:hover {
        color: $brown-light;
      }
    }
  }

  .navbar-toggle {
    border: 2px solid $brown-dark;
    background-color: transparent;
    margin-top: 28px;
    padding: 12px 10px;

    &:focus,
    &:hover {
      background-color: $brown-dark;
    }

    .icon-bar {
      background-color: $yellow-medium;
    }
  }

  .navbar-collapse {
    border-color: $brown-dark;
    box-shadow: none;

    &.in,
    &.collapsing {
      margin-top: 22px;
      background: $brown-tribo;

      .navbar-nav > li > a {
        padding: 15px 15px;

        &:hover {
          background-color: $brown-dark;
          text-decoration: none;
        }
      }

      .dropdown-menu {
        margin: 0 10px;
        border: 1px solid $brown-medium !important;
        border-top: 0 !important;
        background-color: $brown-dark;

        li {
          text-align: left;

          a {
            padding: 15px 20px;
            color: white;

            &:hover,
            &:focus {
              color: $yellow-medium;
            }
          }
        }
      }
    }

    ul {
      margin: 0 -15px;
    }
  }
}

.dropdown {
  &.open > a.dropdown-toggle {
    color: white !important;
    background-color: transparent !important;
    text-decoration: none !important;
    border: 1px solid $brown-medium;
  }
  a.dropdown-toggle {
    padding: 10px 15px 10px 20px !important;
    text-decoration: none !important;
    margin: 30px 10px 0 10px;
    border: 1px solid $brown-medium;

    .fa {
      margin-left: 15px;
      font-size: 2.3rem;
      line-height: 1rem;
      font-weight: bold;
    }

    &:hover {
      color: white;
    }
  }
  .dropdown-menu {
    background-color: $brown-dark;
    margin: 0;
    border-radius: 0;

    li {
      text-align: center;

      &:not(:last-of-type) {
        border-bottom: 1px solid $brown-medium;
      }

      a {
        color: white;
        padding: 10px 15px;

        &:hover,
        &:focus {
          color: $yellow-medium;
          background-color: transparent;
        }
      }
    }
  }
}

.navbar-default .navbar-collapse ul {
  margin: 0;
}
