.header {
  height: 100px;
  width: 100%;
  position: absolute;
  z-index: 100;
  background-color: $brown-tribo;
}

.header__logo {
  display: block;
  height: 100px;
  width: 310px;
  padding: 23px 30px 17px 30px;
}
