.offers {
  padding: 60px 0 30px 0;

  h2 {
    margin-bottom: 30px;
  }
}

.finished_offers-page {
  padding-top: 60px;
}

.old-offers {
  padding-bottom: 80px;

  .card__action {
    padding-bottom: 30px;
  }
}
