.offer-header {
  color: white;
  background-color: $brown-dark;
  @media screen and (max-width: 767px) { padding: 24px 0 70px 0; }
  @media screen and (min-width: 768px) { padding: 80px 0 70px 0; }

  .offer__header__title { margin-bottom: 5px; }
}

.offer__header__image {
  background-color: $brown-dark;
  background-size: cover;
  background-position: center center;
  width: 100%;

  @media screen and (max-width: 374px) {
    height: 240px;
  }

  @media screen and (min-width: 375px) and (max-width: 767px) {
    height: 320px;
  }

  @media screen and (min-width: 768px) {
    height: 460px;
  }
}

.offer__header__producer { margin-bottom: 30px; }

.offer__header__stock,
.offer__header__date,
.offer__header__price {
  span {
    font-size: 38px;
    font-weight: 900;
    line-height: 1;
  }
  .small {
    color: $brown-medium;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1;
  }
}
.offer__header__action { margin-top: 40px; }
.offer__header__share { margin-top: 20px; }
