// # =================================================================
// # Offer Info
// # =================================================================
.offer-info {
  padding: 80px 0;
}

// # Widget
// # =================================================================
.offer-info__widget {
  background-color: $brown-dark;
  color: white;
  font-size: 80%;
  padding-bottom: 20px;

  p {
    padding: 0 30px;
  }
}

// # Products
// # =================================================================
.offer-info__products {
  ul {
    list-style: none;
    margin:0;
    padding:0;

    li {
      padding-left: 1em;
      text-indent: -.7em;
      margin-bottom: 5px;
      &:before {
        color: $brown-medium;
        content: "•";
        font-size: 31px;
        line-height: 1px;
        padding-right: 8px;
        vertical-align: middle;
      }
    }

    br { display: none; }
  }
}

// # Collect
// # =================================================================
.offer-info__collect {
  ul {
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 10px;
      .glyphicon { margin-right: 8px; }
    }
  }
}

// # Coordinator
// # =================================================================
.offer-info__coordinator {
  margin-bottom: 10px;
}

.offer-info__coordinator__avatar {
  background-repeat: no-repeat;
  background-size: 55px 55px;
  border-radius: 55px;
  display: table-cell;
  height: 55px;
  width: 55px;
}

.offer-info__coordinator__name {
  display: table-cell;
  font-weight: bold;
  padding-left: 10px;
  vertical-align: middle;
  p { margin: 0; }
  .small {
    font-size: 70%;
    text-transform: uppercase;
    color: $brown-medium;
  }
}

// # Tax
// # =================================================================
.offer-info__tax,
.offer-info__collect,
.offer-info__products { margin-bottom: 60px; }

.offer-info__tax {
  table {
    background-color: $brown-light;
    tr {
      border-bottom: 1px solid $brown-medium;
      &:last-child { border-bottom: 0px; }
      td {
        padding: 15px 20px;
        border-top: 0px;
      }
    }
  }
}

// # Producer
// # =================================================================
.widget__producer__logo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
}

.widget__producer__name {
  padding: 0 30px;
}

// # Delivery
// # =================================================================
.widget__delivery__icon {
  padding: 30px 30px 30px;
  margin-bottom: 30px;
  background-color: $brown-medium;

  .fa {
    font-size: 120px;
    display: block;
    color: $brown-dark;
  }
}
