.producer-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 510px;
  height: 510px;
  display: table;
  z-index: 1;
}

