.bold{
  font-weight: bold;
}

.producer-info{
  margin-top: 38px;
}

#producer-name{
  font-size: 48px;
  font-weight: 300;
}

.address{
  font-weight: 500;
  color: $brown-medium;
}

.youtube-embedded{
  margin: 48px 0px 80px 0px;
}
