.btn {
  border-radius: 0;
  text-transform: uppercase;
  border: 0;
}

.btn--sm {
  padding: 7px 14px;
  font-size: 13px;
  font-weight: bold;
}

.btn--md {
  padding: 11px 20px;
  font-size: 16px;
}

.btn--block { width: 100%; }

.btn--brown {
  background-color: $brown-dark;
  color: $yellow-medium !important;
  &:hover {
    color: $brown-dark !important;
    background-color: $yellow-medium;
  }
}

.btn--brown-alt {
  background-color: $brown-dark;
  color: #EEE !important;
  &:hover {
    color: #EEE !important;
    background-color: $brown-medium;
  }
}

.btn--yellow {
  background-color: $yellow-medium;
  color: $brown-dark !important;
  &:hover,
  &.active {
    color: $yellow-medium !important;
    background-color: $brown-medium !important;
  }
}

.btn--green {
  background-color: $green-medium;
  color: white;
  &:hover {
    color: white;
  }
}

.btn--disable {
  color: $yellow-medium;
  background-color: $brown-medium;
  cursor: default;
  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: $yellow-medium;
    background-color: $brown-medium;
  }
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin: 0;
}
