.flash {
  font-size: 26px;
  color: white;
  z-index: 500;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  .wrapper {
    padding: 20px;
  }
  .success.wrapper, .notice.wrapper {
    background-color: $success;
  }
  .failure.wrapper, .alerts-error.wrapper, .alerts-error.wrapper {
    background-color: $error;
  }
  .locale.wrapper {
    background-color: $info;
  }
}
