.table { 
	&.table {
		background-color: transparent;
	}
}

.table-cart {
  &.table-bordered {
    border: 0;
  }

  thead {
    background-color: $brown-medium;
    border: 0;

    &> tr > td {
      border: 1px solid $brown-medium;
      color: $brown-dark;
    }
  }

  h2 {
    margin-top: 0;
  }

  tr {
    td:not(:nth-of-type(1)) {
      width: 20%;
    }
  }

  .cart-quantity {
    margin: 0 10px;
  }
}
