// ==== Titles

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  margin-bottom: 20px;

  // Nesting to ovewrite bootstrap's specificity
  .small {
    font-size: 75%;
    color: inherit;
    font-weight: 300;
    margin-left: 15px;
  }
}

h1 { font-size: 33px; }

.title--xl { font-size: 61px; }

.title--up { text-transform: uppercase; }

.big { font-size: 115%; }

// ==== Text colors

.text--green { color: $green-light !important; }

.text--yellow { color: $yellow-medium !important; }

.text--brown { color: $brown-dark !important}

.text--brown__medium { color: $brown-medium !important}

.text--white { color: #fff !important; }
