.text-bold { font-weight: bold }

.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.width-80 {
  width: 80%;
}

.u-marginRgt5 {
  margin-right: 5px;
}

.u-marginTop5 {
  margin-top: 5px;
}
