$error:           #f05f5c;
$success:         #687c52;
$info:            #5e98a3;

$brown-light:     #e8decd;
$brown-medium:    #998c76;
$brown-dark:      #463f32;
$brown-tribo:     #736856;

$black-medium:    #333333;

$green-light:     #687c52;
$green-medium:    #327b6b;

$yellow-medium:   #fedc01;
