$error:           #f05f5c;
$success:         #aab971;
$info:            #5e98a3;

$brown-light:     #e8decd;
$brown-medium:    #998c76;
$brown-dark:      #463f32;

$black-medium:    #333333;

$green-light:     #687c52;

$yellow-medium:   #fedc01;
